<form action="/password/" method="POST">
    <h1>PASSWORD GENERATOR</h1>
    {% csrf_token %}
    <label for="length">Longitud de tu contraseña</label>
    <select name="length" id="length">
        <option value="6">6 caracteres</option>
        <option value="7">7 caracteres]</option>
        <option value="8">8 caracteres]</option>
        <option value="9">9 caracteres]</option>
        <option value="10">10 caracteres]</option>
        
    </select>

    <label for="uppercase">Mayúsculas</label>
    <input type="checkbox" name="uppercase" id="uppercase">

    <button>GENERAR PASSWORD</button>


</form>